html {
  font-family: $font-family-body;
  font-size: (10px / 16px) * 100%;
}

body {
  font-size: 1.6rem;
  color: $color-body;
}

$link-underline-size: 1px;

a,
a:visited {
  color: $color-body;
  transition: color 200ms ease-in-out;
  text-decoration-skip: ink;
}

a:hover {
  color: darken($color-body, 5%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headline;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

blockquote {
  border-left: 4px solid $color-accent;
  padding: 0 2.4rem;
  margin: 0;
  font-size: 3.2rem;
  line-height: 4rem;
}

code {
  padding: 0;
  font-size: 1.4em;
  font-weight: 600;
}

pre {
  code {
    font-size: 1em;
    font-weight: normal;
  }
}

.transition-group {
  position: relative;
}

.transition-container {
  position: absolute;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
