@import '../../styles/foundation';

.layout {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.6rem;
  align-items: flex-start;
}

.layout__header {
  margin: 3.2rem 0;
}

.layout__content {
  max-width: 100%;
  min-width: 0;
}
