@import '../../styles/foundation';

.icon {
  width: 3.2rem;
  height: 3.2rem;

  svg {
    fill: currentColor;
  }
}

.icon--small {
  width: 2rem;
  height: 2rem;
}

.icon--large {
  width: 6.4rem;
  height: 6.4rem;
}
